body {
  margin-top: 2em;
}

.timer .remaining {
  text-align: center;
  font-size: 8em;
}

.timer .buttons {
  margin-top: 4em;
}

.player {
  text-align: center;
}

h2.editable-click { 
  border-bottom: none;
}

h2.editable-click:hover { 
  border-bottom: dotted 2px #428bca;
}

.score {
  font-size: 8em;
}
