body {
  margin-top: 2em;
}

.timer .remaining {
  font-size: 4em;
}

.timer .buttons {
  margin-top: 1.6em;
}

h2.editable-click { 
  border-bottom: none;
}

h2.editable-click:hover { 
  border-bottom: dotted 2px #428bca;
}

.buzzed {
  background-color: #428bca;
}

.buzzed h2 {
  color: white;
}
